<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <bean id="dateTimeFactory" class="com.sbeans.DateTimeFactory"/>
    
    <!-- Using Factory Bean to Create LocalDateTime -->
    <bean id="Ltime" factory-bean="dateTimeFactory" factory-method="getNow"/>
        <bean id="wmg" class="com.sbeans.WishMessageGenerator">
        
       <constructor-arg ref="Ltime"/>
        </bean>
        
        </beans>